$bd-radius: 0.8rem;
$button-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
$header-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);

$mb-1: 0.8rem;
$mb-2: 1.6rem;
$mb-3: 2.4rem;
$mb-4: 3.2rem;
$mb-5: 4rem;
$mb-6: 4.8rem;

$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
