@use './abstracts/index' as *;

.bd-grid {
  margin-left: auto;
  margin-right: auto;
}

.hero-description {
  align-self: flex-end;
  &__subtitle {
    max-width: 50%;
  }
}
.hero-social {
  flex-direction: row;
  gap: $mb-6;
}

.hero__img {
  right: 10%;
  bottom: 15%;
}
