@use '../abstracts/' as *;
.primary-button {
  padding: 1.2rem 4rem;
  font-weight: $text-bold;
  background-color: $primary-color;
  border-radius: $bd-radius;
  font-size: $text-sm;
  color: #fff;
  &:hover {
    box-shadow: $button-shadow;
  }
  &--hero {
    display: inline-block;
  }
}
