@use '../abstracts/index' as *;

.form-container__box {
  width: 100%;
  padding: 1.6rem;
  margin-bottom: $mb-4;
  border-radius: 0.8rem;
  border: 1.5px solid $secondary-color;
  outline: none;
  font-size: $text-sm;
  font-weight: 600;
}

.primary-button--submit {
  display: block;
  margin-left: auto;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: $text-sm;
}

#JesusMail {
  display: none;
}
