@use '../abstracts/index' as *;

.section {
  padding-top: $header-height;
  &-title {
    position: relative;
    font-size: $text-xl;
    color: $primary-color;
    margin: $mb-4 0;
    text-align: center;
    &::after {
      position: absolute;
      content: '';
      width: 100px;
      height: 0.35rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 4.25rem;
      background-color: $primary-color;
    }
  }
}
