.bd-grid{margin-left:auto;margin-right:auto}.hero-description{align-self:flex-end}.hero-description__subtitle{max-width:50%}.hero-social{flex-direction:row;gap:4.8rem}.hero__img{right:10%;bottom:15%}
