*,*::before,*::after{box-sizing:border-box}
html{font-size:62.5%;scroll-behavior:smooth}
body{margin:4.8rem 0 0 0;font-family:"Poppins",sans-serif;font-size:1.6rem;color:#000;background-color:#fff}
h1,h2,h3,p,figure{margin:0}
ul{margin:0;padding:0;list-style:none}
a{text-decoration:none}
img{max-width:100%;height:auto}
.bx{transition:color .3s}
.bx:hover{color:#0571f8}
::-webkit-scrollbar{width:1rem}
::-webkit-scrollbar-thumb{background-color:#0571f8}
.no-scroll{overflow:hidden}
.bd-grid{max-width:1024px;display:grid;grid-template-columns:100%;grid-column-gap:3.2rem;width:calc(100% - 3.2rem);margin-left:1.6rem;margin-right:1.6rem}
.primary-button{padding:1.2rem 4rem;font-weight:600;background-color:#0571f8;border-radius:.8rem;font-size:1.6rem;color:#fff}
.primary-button:hover{box-shadow:0 10px 36px rgba(0,0,0,.15)}
.primary-button--hero{display:inline-block}
.menu-btn{position:relative;width:35px;height:30px;transition:all .5s ease-in-out;background:none;border:none;outline:none;border-radius:5px;cursor:pointer}
.menu-btn__icon{position:absolute;left:0;width:30px;height:3px;background-color:#0e2431;border-radius:5px;transition:all .5s ease-in-out}
.menu-btn__icon::before,.menu-btn__icon::after{position:absolute;left:0;content:"";width:30px;height:3px;background-color:#0e2431;border-radius:5px;transition:all .5s ease-in-out}
.menu-btn__icon::before{transform:translateY(-8px)}
.menu-btn__icon::after{transform:translateY(8px)}
.menu-btn.open .menu-btn__icon{transform:translateX(-50px);background:rgba(0,0,0,0)}
.menu-btn.open .menu-btn__icon::before{transform:rotate(45deg) translate(35px, -35px)}
.menu-btn.open .menu-btn__icon::after{transform:rotate(-45deg) translate(35px, 35px)}
.header{width:100%;position:fixed;top:0;z-index:100;background-color:#fff;box-shadow:0 1px 4px rgba(146,161,176,.15)}
.header__logo{font-size:2rem}
.header__logo--light{font-weight:300}
.nav{position:relative;display:flex;align-items:center;justify-content:space-between;height:4.8rem}
@media screen and (max-width: 54.99em){.nav__menu{position:fixed;top:4.8rem;width:80%;height:100%;padding:3.2rem;background-color:#0e2431;transform:translateX(100vw);transition:transform .3s}}
.nav__item{margin-bottom:3.2rem}
.nav__item .nav__link{position:relative;font-size:1.6rem;font-weight:600;transition:color .3s}
.nav__item::after{margin-bottom:3.2rem}
.nav__item .nav__link::after{position:relative;font-size:1.6rem;font-weight:600;transition:color .3s}
.nav__item .nav__link:hover{position:relative}
.nav__item .nav__link:hover::after{position:absolute;content:"";width:100%;height:.288rem;left:0;top:3.4rem;background-color:#0571f8}
.active::after{position:absolute;content:"";width:100%;height:.288rem;left:0;top:3.4rem;background-color:#0571f8}
.show{transform:translateX(20%)}
.wave{animation-name:wave-animation;animation-duration:2.5s;animation-iteration-count:infinite;transform-origin:70% 70%;display:inline-block}
@keyframes wave-animation{0%{transform:rotate(0deg)}10%{transform:rotate(14deg)}20%{transform:rotate(-8deg)}30%{transform:rotate(14deg)}40%{transform:rotate(-4deg)}50%{transform:rotate(10deg)}60%{transform:rotate(0deg)}100%{transform:rotate(0deg)}}
.hero{height:calc(100vh - 4.8rem);row-gap:1.6rem}
.hero-description{align-self:center}
.hero-description__title{margin-bottom:1.6rem;font-size:2.4rem}
.hero-description__subtitle{font-size:1.8rem;margin-bottom:1.6rem}
.hero__img{max-inline-size:70%;position:absolute;right:0;bottom:0}
@media(max-width: 812px)and (orientation: landscape){.hero .hero-description__subtitle{max-width:50%}.hero .hero-social{flex-direction:row;gap:4.8rem}.hero .hero__img{max-inline-size:40%}}
.hero-social{align-self:center;display:flex;flex-direction:column;gap:2.4rem}
.hero-social-icon{color:#0e2431;font-size:2.4rem}
.text-primary{color:#0571f8}
.text-primary--bold{font-weight:600}
.section{padding-top:4.8rem}
.section-title{position:relative;font-size:2.4rem;color:#0571f8;margin:3.2rem 0;text-align:center}
.section-title::after{position:absolute;content:"";width:100px;height:.35rem;left:0;right:0;margin:auto;top:4.25rem;background-color:#0571f8}
.project-container{justify-content:center;grid-template-columns:repeat(auto-fill, minmax(280px, 310px));gap:4rem}
.project-container .project-card{display:flex;flex-direction:column;gap:1.6rem}
.project-container .project-card__title{padding:4px 8px;font:bold 1.8rem/30px "Poppins",sans-serif;text-align:center;color:#fff;background-color:#0e2431;box-shadow:-4px 4px 0 #0571f8;text-decoration:none}
.project-container .project-card .project-picture{text-align:center;height:22.5rem;outline:5px solid #0e2431;border-radius:.8rem;background-color:#0e2431;overflow-y:auto}
.project-container .project-card .project-picture img{max-inline-size:90%}
.project-container .project-card .project-description{display:flex;flex-direction:column;gap:1.6rem;text-align:left}
.project-container .project-card .project-description__text{font-size:1.6rem}
.project-container .project-card .project-description__text::first-line{font-weight:600;color:#0571f8}
.project-container .project-card .project-links{display:flex;gap:1.6rem}
.project-container .project-card .project-links__anchor{display:flex;flex-direction:column;align-items:center;color:#0571f8;font-size:1.6rem;font-weight:600}
.project-container .project-card .project-links .project-icon{font-size:2.4rem}
.skills__container{row-gap:3.2rem;text-align:center;font-size:1.6rem}
.skills__subtitle{margin-bottom:1.6rem}
.skills__text{margin-bottom:3.2rem}
.skills__data{display:flex;justify-content:space-between;align-items:center;position:relative;padding:.8rem 1.6rem;margin-bottom:3.2rem;font-weight:600;border-radius:.8rem;box-shadow:0 4px 25px rgba(14,36,49,.15)}
.skills__icon{font-size:3.2rem;margin-right:1.6rem;color:#0571f8}
.skills__names{display:flex;align-items:center}
.skills__bar{position:absolute;left:0;bottom:0;background-color:#0571f8;height:.4rem;border-radius:.8rem}
.skills__html{width:100%}
.skills__css{width:100%}
.skills__js{width:100%}
.skills__react{width:100%}
.skills__img img{border-radius:.8rem}
.about__container{row-gap:3.2rem;text-align:center}
.about__subtitle{margin-bottom:1.6rem}
.form-container__box{width:100%;padding:1.6rem;margin-bottom:3.2rem;border-radius:.8rem;border:1.5px solid #0e2431;outline:none;font-size:1.6rem;font-weight:600}
.primary-button--submit{display:block;margin-left:auto;outline:none;cursor:pointer;border:none;font-size:1.6rem}
#JesusMail{display:none}
.footer{margin-top:4.8rem;padding:2rem 0 3rem 0;text-align:center;font-weight:600;background-color:#0e2431;color:#fff}
.footer__social{margin:2.4rem}
.footer__social-icon{margin:0 1.6rem;font-size:2.4rem;color:#fff}
.footer-description{font-size:1.6rem}

/* Theme styles */
:root {
  --primary-color: #6bb3eb; /* Default primary color */
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #6bb3eb; /* Default link color */
  --header-background-color: #ffffff;
  --footer-background-color: #0e2431; /* Default footer color */
/*  --nav-link-color: #0e2431; /* Default nav link color */
  --scrollbar-thumb-color: #0571f8; Default scrollbar color */
  --wave-color: #0571f8; /* Default wave color */
}

/* Light theme styles */
[data-theme='light'] {
  --primary-color: #6bb3eb;
  --background-color: #ffffff;
  --text-color: #000000;
  --link-color: #6bb3eb;
  --header-background-color: #ffffff;
  --footer-background-color: #0e2431;
  --nav-link-color: #0e2431;
  --scrollbar-thumb-color: #0571f8;
  --wave-color: #0571f8;
}

/* Dark theme styles */
[data-theme='dark'] {
  --primary-color: #6a8ef9; /* Updated blue color */
  --background-color: #121212;
  --text-color: #ffffff;
  --link-color: #6a8ef9; /* Updated blue color */
  --header-background-color: #000000;
  --footer-background-color: #051b26; /* Updated color */
  --nav-link-color: #FFF; /* Navigation links color in dark mode */
  --scrollbar-thumb-color: #6a8ef9; /* Updated blue color for scrollbar */
  --wave-color: #6a8ef9; /* Updated blue color for wave animation */
}

/* Apply theme colors to body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Example of using the theme colors */
a {
  color: var(--link-color);
}

/* Header and Footer background colors */
.header {
  background-color: var(--header-background-color);
}

.footer {
  background-color: var(--footer-background-color);
}

/* Navigation link colors */
.nav__link {
  color: var(--nav-link-color);
}

.nav__link:hover {
  background-color: var(--link-color);
}

/* Navigation buttons color in dark mode */
.menu-btn__icon {
  background-color: var(--nav-link-color); /* Updated to white in dark mode */
}

.menu-btn__icon::before,
.menu-btn__icon::after {
  background-color: var(--nav-link-color); /* Updated to white in dark mode */
}

/* Scrollbar styles */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

/* Add styles for the wave animation */
.wave {
  color: var(--wave-color);
}

/* Theme switcher styles */
.theme-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-switcher input {
  cursor: pointer;
}
