@use './abstracts/' as *;
@use './main';
@use './components/gridLayout';
@use './components/buttom';
@use './components/header';
@use './components/hero';
@use './components/reusableSection';
@use './components/projects.scss';
@use './components/skills';
@use './components/about';
@use './components/contact';
@use './components/footer';
