@use './abstracts/index' as *;

body {
  margin: 0;
  font-size: $text-md;
}

.section {
  padding: 4rem 0 3rem;
  &-title {
    font-size: $text-big;
    margin-bottom: $mb-6;
    &::after {
      width: 80px;
      top: $header-height;
    }
  }
}

.header__logo {
  font-size: $text-xl;
}

.menu-btn {
  display: none;
}

.nav__list {
  display: flex;
  gap: $mb-6;
  .nav__item {
    margin: 0;
  }
  .nav__link {
    font-size: $text-md;
    color: $secondary-color;
  }
}

.nav {
  height: calc($header-height + 1rem);
}

.hero {
  padding-top: $header-height;
  &-description {
    margin-top: $mb-4;
    &__title {
      font-size: $text-bigger;
    }
    &__subtitle {
      font-size: $text-xl;

      margin-bottom: $mb-4;
    }
  }
  .hero__img {
    max-block-size: 460px;
  }
  &-social {
    gap: $mb-6;
  }
}

.hero-social-icon {
  font-size: $text-bigger;
}

.primary-button--hero {
  font-size: $text-xl;
}

.project-container {
  margin-top: $mb-6;
}

.skills__container {
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}
.skills__img {
  align-self: center;
}

.about__text {
  text-align: left;
}

.contact__form {
  width: 360px;
}
.form__container {
  justify-items: center;
}

.footer {
  padding: $mb-6 0;
  &__social {
    margin: $mb-4;
    &-icon {
      margin: 0 $mb-3;
    }
  }
  &-description {
    font-size: $text-md;
  }
}
