@use '../abstracts/index' as *;

.footer {
  margin-top: $mb-6;
  padding: 2rem 0 3rem 0;
  text-align: center;
  font-weight: $text-bold;
  background-color: $secondary-color;
  color: #fff;
  &__social {
    margin: $mb-3;
    &-icon {
      margin: 0 $mb-2;
      font-size: $text-xl;
      color: #ffff;
    }
  }
  &-description {
    font-size: $text-sm;
  }
}
