@use '../abstracts/index' as *;

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 3.2rem;
  width: calc(100% - 3.2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
}
