@use '../abstracts/' as *;
@use '../components/waveAnimation.scss';

.hero {
  height: calc(100vh - $header-height);
  row-gap: 1.6rem;
  &-description {
    align-self: center;
    &__title {
      margin-bottom: $mb-2;
      font-size: $text-xl;
    }
    &__subtitle {
      font-size: $text-md;
      margin-bottom: $mb-2;
    }
  }
  &__img {
    max-inline-size: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (max-width: 812px) and (orientation: landscape) {
    .hero-description__subtitle {
      max-width: 50%;
    }
    .hero-social {
      flex-direction: row;
      gap: $mb-6;
    }
    .hero__img {
      max-inline-size: 40%;
    }
  }

  &-social {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: $mb-3;
  }
}
.hero-social-icon {
  color: $secondary-color;
  font-size: $text-xl;
}

.text-primary {
  color: $primary-color;
  &--bold {
    font-weight: $text-bold;
  }
}
