@use '../abstracts/index' as *;

.project-container {
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 310px));
  gap: $mb-5;
  .project-card {
    display: flex;
    flex-direction: column;
    gap: $mb-2;
    // box-shadow: 1rem 1rem 8rem -1rem #cfcfcf;
    &__title {
      padding: 4px 8px;
      /* Para que el elemento no se expanda como consecuencia del display flex */
      font: bold 1.8rem / 30px 'Poppins', sans-serif;
      text-align: center;
      color: #fff;
      background-color: $secondary-color;
      box-shadow: -4px 4px 0 $primary-color;
      text-decoration: none;
    }
    .project-picture {
      text-align: center;
      height: 22.5rem;
      outline: 5px solid $secondary-color;
      border-radius: $bd-radius;
      background-color: $secondary-color;
      overflow-y: auto;
      & img {
        max-inline-size: 90%;
      }
    }

    .project-description {
      display: flex;
      flex-direction: column;
      gap: $mb-2;
      text-align: left;
      &__text {
        font-size: $text-sm;
        &::first-line {
          font-weight: $text-bold;
          color: $primary-color;
        }
      }
    }
    .project-links {
      display: flex;
      gap: $mb-2;
      &__anchor {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary-color;
        font-size: $text-sm;
        font-weight: $text-bold;
      }
      .project-icon {
        font-size: $text-xl;
      }
    }
  }
}
